# Ignore sensitive files
.env
.env.backup
.env.production
auth.json

# Ignore dependencies and build artifacts
/node_modules
# /public/hot
/npm-debug.log
/yarn-error.log

# Ignore IDE and system files
/.idea
/.vscode
/.fleet
/.zed

# Ignore Laravel cache and log files
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore

# PHPUnit cache (optional, for development)
.phpunit.result.cache
/.phpunit.cache
