table th[data-v-ee196f98],table td[data-v-ee196f98]{vertical-align:middle;text-align:left}.table-responsive-wrapper[data-v-ee196f98]{width:100%;overflow-x:auto}.table-responsive-wrapper table[data-v-ee196f98]{min-width:900px}
